body{
  margin: 0px;
  text-align: center;
  font-family: "Merriweather";
  color: #40514E;
}

h1{
  font-family: "Sacramento";
  font-size: 5.5rem;
  color: #66BFBF;
}

h2{
  font-family: "Montserrat";
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: "Montserrat";
  color: #11999E;
}

p{
  line-height: 2;
}

.top-cloud{
  margin-top: 2rem;
  margin-left: 33rem;
}

.bottom-cloud{
  display: block;
  margin-left: 15rem;
}

.top-container{
  background-color: #E4F9F5;
}

.pro{
  text-decoration: underline;
}

.middle-container{

  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}


.profile img{
  width: 25%;
  border-radius: 100%;

}

.skills{
  
}

.skill-row{
  text-align: start;
    margin-top: 100px;
    margin-bottom: 100px;
}

.computer-img{
  float: left;
  width: 25%;
  border-radius: 100%;
  margin-right: 30px;
}

.chili-img{
  margin-left: 30px;
  float: right;
  width: 25%;
}


.myButton {
	background:linear-gradient(to bottom, #57b2e6 5%, #4cc7e6 100%);
	background-color:#57b2e6;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #4cc7e6 5%, #57b2e6 100%);
	background-color:#4cc7e6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.bottom-container{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #66BFBF;
}

.copyright{
  margin-top: 30px;
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.footer-link{
  color: #11999E;
  text-decoration: none;
  margin: 30px;
}

.footer-link:hover{
  color: #ffffff;
}

hr{
  border: #EAF6F6 dotted 6px;
  border-bottom: none;
  width: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
}